.container {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    padding: 5px;
    background-color: #fff1ed;
    border: 1px solid #e9b8aa;
    border-radius: 10px;
    color: #35150f;
}

